.content
  .main
    .sub-title
      やりたいこと
    .main-title
      死ぬまでに


  .main-content
    .main-content__list
      .main-content__list__list-name
        list
      .main-content__list__memo
        memo
    .main-content__review
      .write-list
        旅行
      .write-memo
        住所：大阪府〜〜〜