.main-content__review{data: {message: {id: message.id}}}
  //- current_user.messages.each do |message|
  .write-list
    = message.name
    //= message.name
  .write-memo
    =message.user.memo
        //= message.memo