.side-bar
  .side-bar__main
    .first-list
      カテゴリー
      = link_to new_category_path(current_user) do
        = icon('fas','plus')
    .first-name__list-name
      - current_user.categories.each do |category|
        .group-block
          = link_to category_messages_path(category) do
            .group-name
              = category.name