.side-bar
  .side-bar__main
    .first-list
      やりたいこと
      = icon('fas','plus')
    .first-name__list-name
      死ぬまでに
    .second-list
      やるべきこと
      = icon('fas','plus')
    .second-list__list-name
      １ヶ月以内