.content{
  display: block;
  .main {
    width: calc(100vw - 300px);
    height: 100px;
    background-color: green;

    .sub-title{
      width: 100px;
      height: 25px;
      background-color: green;
      margin-left: 50px;
    }

    .main-title{
      width: calc(100vw - 300px);
      height: 40px;
      background-color: green;
      text-align: center;
      font-size: 30px;
      margin: 17.5px 0;
    }
  }

  .main-content {
    height: calc(100vh - 400px);
    width: calc(100vw - 300px);
    background-color: blue;
    &__list{
      height:50px;
      background-color: blue;
      display: flex;
      margin: 0 50px;
      font-size: 40px;
      justify-content:space-between;
      padding: 0 300px;
      color: #ffffff;;
      &__name{

      }

      &__memo{

      }
    }

    &__review{
      display: flex;
      height: 80px;
      background-color: blue;
      margin: 30px 50px;
      padding: 0 300px;
      justify-content:space-between;
      font-size: 20px;
      color: #ffffff;
      ;
      .write-list{

      }

      .write-memo{

      }
    }
  }
}