.header {
  width: 100vw;
  height: 200px;
  background-color: #000000;
  display: flex;

  &__title{
    width: 300px;
    height: 100px;
    background-color: #000000;
    margin: 50px 500px ;
    position: absolute;
    color: #ffffff;
    font-size: 100px;

  }

  &__navi {
    width: 300px;
    height: 30px;
    background-color: #000000;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 auto;
    

    &__login{
      color: #ffffff;
      font-size: 30px;
      padding-right: 30px;
    }

    &__contact{
      color: #ffffff;
      font-size: 30px;
      padding-right: 30px;
    }
    }

  
}