.header {
  width: 100vw;
  height: 200px;
  background-color: #7A8A92;
  display: flex;

  &__title{
    width: 500px;
    height: 100px;
    background-color: #7A8A92;
    margin: 50px 500px ;
    position: absolute;
    color: #77C2B9;
    font-size: 100px;

  }

  &__navi {
    width: 300px;
    height: 30px;
    background-color: #7A8A92;
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 auto;
    
    &__edit{
      color:#77C2B9;
      font-size: 30px;
      padding-right: 30px;
    }

    }

  
}