.header {
  width: 100vw;
  height: 200px;
  background-color: #000000;
  display: flex;

  &__title{
    width: 300px;
    height: 100px;
    background-color: #ffffff;
    margin: 50px 500px ;
    position: absolute;

  }

  &__navi {
    width: 200px;
    height: 100px;
    background-color: #ffffff;
    position: relative;
    }

  
}